ul{
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
a{
  text-decoration: none;
  color: red;
}
.myheader{
  padding: 10px;
  background-color: black;
  
}
*{
  margin: 0;
  padding: 0;

}
.products{
  background-color: rgb(246, 246, 14);
  margin-top: 5px;
  padding: 4px;
  
}

.footer{
  background-color: black;
  color: white;
  padding: 5px;
  text-align: center;
  margin-top: 420px;
}
